body{
    user-select: none;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    transition: all 0.5s ease;
}

#date-and-time{
    top: 32.5%;
    text-align: center;
    position: absolute;
    color: #fff;
    width: 100%;
}

#date{
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    left: 70%;
    font: normal 35px 'Quicksand';
    height: 80px;
    line-height: 80px;
    margin: 0;
}

#time{
    position: absolute;
    text-align: center;
    margin: 0;
    left: 0;
    right: 0;
    font: normal 35px 'Quicksand';
    height: 80px;
    line-height: 80px;
}

#slider{
    z-index: -1;
    position: absolute;
    background: rgba(247, 247, 247, 0.14);
    width: 35%;
    height: 80px;
    left: 5%;
    top: 32.5%; 
    transition: 1.5s all;
    border-radius: 3px;
}

#task-holder{
    z-index: 0;
    transform: translateY(32.5vh);
    width: 35%;
    height: 80px;
    position: absolute;
    left: 5%;
    transition: all 1s;
}

#task-holder:hover{
    height: 100%;
    transform: translateY(0);
}

#task-holder:hover ~ #slider{
    transform: scaleY(50);
}

#task-holder:hover #task-list { 
    opacity: 1;
}

#task-holder:hover #checkbox{
    transform: translateX(0px) rotate(-90deg);
}

#task-holder:hover #task-input{
    transform: translateY(25vh);
}

#task-input{
    height: 80px;
    width: 100%;
    position: absolute;
    font: italic 28px "Quicksand";
    text-indent: 1em;
    border: none;
    background: transparent;
    color: #fff; 
    text-transform: uppercase;
    transition: all 1s ease;
}

#task-input:focus{
    outline: none;
}

#task-input::-webkit-input-placeholder{
    color: #fff; 
}

#task-list{
    opacity: 0;
    text-indent: 6%;
    overflow-y: auto;    
    transform: translateY(70%);
    position: absolute;
    width: 100%;
    height: 60vh;
    transition: opacity ease 0.5s;
}

.task-list-items{
    height: 94px;
    margin: 0; 
    font: 1.3em 'Open Sans';
    color: #f7f7f7;
}

#task-holder.slip{
    transform: rotate(36deg);
}

#checkbox.rotate{
    transform: rotate(-90deg);
}

#checkbox{
    cursor: pointer;
    left: 90%;
    position: absolute;
    text-indent: 0;
    transform: rotate(170deg);
    transition: color 0.3s ease, transform 1s ease;
}

#checkbox.animation{
    animation: SHW .2s;
    animation-fill-mode: both
}

#task-list::-webkit-scrollbar{
	width: 12px;
	background: transparent;
}

#task-list::-webkit-scrollbar-thumb{
	background: rgba(255, 255, 255, 0.22);
}

#theme-switcher{
    color: rgba(255, 255, 255, 0.3);
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    position: absolute;   
    bottom: 1%;
    width: 100px;
}

#bg-changer{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    color: white;
    width: 24px;
    margin: 0 auto;
    transition: all 0.4s ease;
    color: rgba(225,255,255,0.3);
}

#theme-switcher:hover #bg-changer{
    opacity: 0;
    transform: rotate(90deg);
    z-index: -1;
}

#theme-switcher:hover #left-arrow{
    opacity: 1;
    transform: translateX(-20px);
}

#theme-switcher:hover #right-arrow{
    opacity: 1;
    transform: translateX(20px);
}

#theme-switcher:hover #save-vis{
    opacity: 1;
    transform: rotate(0deg);
}

#left-arrow:hover, #right-arrow:hover{
    color: white;
}

#left-arrow, #right-arrow{
    transition: letter-spacing 0.5s ease, opacity 0.3s ease, color 0.4s ease, transform 0.4s ease;
    cursor: pointer;
    opacity: 0;
}

#left-arrow{
    transform: translateX(20px);
}

#right-arrow{
    transform: translateX(-20px);
}

#save-placeholder{
    opacity: 0;
}

#save-vis{
    opacity: 0;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    width: 24px;
    margin: 0 auto;
    transform: rotate(-90deg);
    transition: all 0.4s ease;
}

#save-vis:hover{
    color: rgba(255, 255, 255, 0.5);
}

#save-vis.white{
    color: #fff;
}

.expand{
    animation: saved 0.3s;
    animation-fill-mode: both
}

@keyframes SHW {
    100%{transform: rotate(0deg)}
}

@keyframes saved {
    50% {transform: scale(1.15);}
    100% {transform: scale(1)}
}
