body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    background: url("https://static.pexels.com/photos/408517/pexels-photo-408517.jpeg");
    background-size: cover;
        background-attachment: fixed;
    overflow: hidden;
    transition: all 1s;
}

#date-and-time{
    top: 35%;
    text-align: center;
    position: absolute;
    color: #fff;
    width: 100%;
}

#date{
    text-transform: uppercase;
    letter-spacing: 3px;
    position: absolute;
    text-align: center;
    left: 70%;
    margin: 0;
    font: normal 35px 'Pathway Gothic One';
}

#time{
    letter-spacing: 3px;
    position: absolute;
    text-align: center;
    margin: 0;
    left: 0;
    right: 0;
    font: normal 35px 'Pathway Gothic One';
}

#task-holder{
    width: 35%;
    height: 10%;
    top: 32.5%;
    position: absolute;
    left: 5%;
    right: 0;
    background: rgba(247, 247, 247, 0.14);
    box-shadow: rgba(152,152,152,.28) 0px 0px 10px;
    transition: 1s all;
    overflow: hidden;
}

#task-holder:hover{
    top: 0%;
    height: 100vh;
}

#task-holder:hover #task-list { 
    opacity: 1;
}

#task-input{
    width: 100%;
    position: absolute;
    font: 30px "Pathway Gothic One";
    letter-spacing: 3px;
    text-indent: 1em;
    border: none;
    background: transparent;
    top: 25%;
    left: 0;
    right: 0;
    color: #fff; 
    text-transform: uppercase;
}

#task-input:focus{
    outline: none;
}

#task-input::-webkit-input-placeholder{
    color: #fff; 
}

#task-list{
    opacity: 0;
    text-indent: 6%;
    overflow-y: auto;
    left: 0;
    right: 0;
    top: 40%;
    position: absolute;
    color: grey;
    width: 100%;
    height: 60vh;
    transition: opacity ease .3s;
}

.task-list-items{
    height: 94px;
    margin: 0; 
    font: 1.3em 'Open Sans';
    left: 0;
    right: 0;
    color: #f7f7f7;
}

#checkbox{
    width: 0;
    cursor: pointer;
    left: 80%;
    position: absolute;
    color: #000;
    transition: color .3s ease;
}

#checkbox:hover{
    color: #fff;
}

#task-list::-webkit-scrollbar{
    margin-left: 300px;
    position: absolute;
	width: 12px;
    height: 0;
	background: transparent;
}

#task-list::-webkit-scrollbar-thumb{
	background: #fff;
}