body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    background-color: #9a9a9a;
}

#greeting{
    display: none;
}

#date-and-time{
    top: 30%;
    text-align: center;
    position: absolute;
    color: #f7f7f7;
    width: 65%;
}

#date{
    display: none;
    margin: 0;
    font: normal 50px 'Roboto Condensed';
}

#time{
    margin: 0;
    font: normal 300px 'Roboto Slab';
}

#task-input{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-collapse: collapse;
    width: 100%;
    height: 10vh;
    position: absolute;
    cursor: pointer;
    font-family: "Cutive Mono";
    font-size: 2em;
    text-indent: 1em;
    border: none;
    background-color: #f7f7f7;
    box-shadow: none;
    left: 0;
    right: 0;
}

#task-input:focus{
    cursor: text;
    outline: none;
}

#task-input::-webkit-input-placeholder{
    color: #b1b1b1;
}

#num-of-tasks{
    display: none;
    color: white;
    position: absolute;
    margin-top: 374px;
    left: 0;
    right: 0;
    text-align: center;
    font: normal 30px 'Roboto Condensed';
}

#task-list{
    text-indent: 6%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border: none;
    overflow-y: auto;
    left: 0;
    right: 0;
    top: 10%;
    position: absolute;
    color: grey;
    width: 100%;
    height: 90vh;
}

#task-list::-webkit-scrollbar{
    margin-left: 300px;
    position: absolute;
	width: 12px;
    height: 0;
	background-color: grey;
}

#task-list::-webkit-scrollbar-track{
	background-color: transparent;
}

#task-list::-webkit-scrollbar-thumb{
	background-color: white;
}

.task-list-items{
    background-color: transparent;
    width: 400px;
    height: 54px;
    margin: 0; 
    font: 2em 'Cutive Mono';
    left: 0;
    right: 0;
    color: #f7f7f7;
}

.task-list-items:first-child{
    margin-top: 20px;
}

#checkbox{
    position: sticky;
    width: 51px;
    padding: 0;
    cursor: pointer;
    left: 80%;
    position: absolute;
    color: #f7f7f7;
    margin-top: 5px;
margin: 0 auto;
}

#cancel-input{
    text-align: center;
    transition: all 0.1s ease-in;
    cursor: pointer;
    display: none;
    z-index: 3;
    position: absolute;
    top: 280px;
    left: 94%;
    color: #e9e9e9;
}

#cancel-input:hover{
    color: white;
}

#task-button-holder{
    background-color: #bfbfbf;
    width: 35%;
    height: 100vh;
    position: absolute;
    left: 65%;
    right: 0;
}

#theme-switcher{
    color: rgba(0, 0, 0, 0.10);
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    top: 94%;
}

#left-arrow{
    transition: color 0.1s ease;
    -webkit-transition: color 0.1s ease;
    -moz-transition: color 0.1s ease;
    cursor: pointer;
}

#left-arrow:hover{
    color: rgba(0, 0, 0, 0.30);
}

#right-arrow{
    transition: color 0.1s ease;
    -webkit-transition: color 0.1s ease;
    -moz-transition: color 0.1s ease;
    cursor: pointer;
}

#right-arrow:hover{
    color: rgba(0, 0, 0, 0.30);
}

#save{
    transition: color 0.1s ease;
    -webkit-transition: color 0.1s ease;
    -moz-transition: color 0.1s ease;
    cursor: pointer;
}

#save:hover{
    color: rgba(0, 0, 0, 0.30);
}