body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    background-color: #ffba81;
}

#title{
    position: absolute;
    margin: 0 auto;
    top: 10%;
    left: 0;
    right: 0;
    text-align: center;
    font: normal 80px "Sue Ellen Francisco";
    color: white;
}

#subtitle{
    text-align: justify;
    width: 750px;
    position: absolute;
    margin: 0 auto;
    top: 20%;
    left: 0;
    right: 0;
    text-align: center;
    font: normal 26px "Sue Ellen Francisco";
    color: #aa784e;
}

#theme-switcher{
    color: rgba(0, 0, 0, 0.70);
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;   
    bottom: 1%;
}

#left-arrow{
    transition: color 0.1s ease;
    -webkit-transition: color 0.1s ease;
    -moz-transition: color 0.1s ease;
    cursor: pointer;
}

#left-arrow:hover{
    color: white;
}

#right-arrow{
    transition: color 0.1s ease;
    -webkit-transition: color 0.1s ease;
    -moz-transition: color 0.1s ease;
    cursor: pointer;
}

#right-arrow:hover{
    color: white;
}

#save{
    visibility: hidden;
}

#confirm{
    opacity: 0;
    font-size: 14px;
    color: white;
}