body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    background-color: #d1d1d1;
}

#title{
    position: absolute;
    margin: 0 auto;
    top: 10%;
    left: 0;
    right: 0;
    text-align: center;
    font: normal 80px "Sue Ellen Francisco";
    color: white;
}

#subtitle{
    text-align: justify;
    width: 750px;
    position: absolute;
    margin: 0 auto;
    top: 25%;
    left: 0;
    right: 0;
    text-align: center;
    font: normal 26px "Cutive Mono";
    color: grey;
}

#theme-switcher{
    width: 200px;
    color: grey;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    top: 90%;
    margin: 0 auto;
}

#left-arrow{
    transition: color 0.1s ease;
    -webkit-transition: color 0.1s ease;
    -moz-transition: color 0.1s ease;
    cursor: pointer;
}

#left-arrow:hover{
    color: rgba(0, 0, 0, 0.30);
}

#right-arrow{
    transition: color 0.1s ease;
    -webkit-transition: color 0.1s ease;
    -moz-transition: color 0.1s ease;
    cursor: pointer;
}

#right-arrow:target{

}

#right-arrow:hover{
    color: rgba(0, 0, 0, 0.30);
}

#save{
    visibility: hidden;
    transition: color 0.1s ease;
    -webkit-transition: color 0.1s ease;
    -moz-transition: color 0.1s ease;
    cursor: pointer;
}

#save:hover{
    color: rgba(0, 0, 0, 0.30);
}

#confirm{
    opacity: 0;
    font-size: 14px;
    color: white;
}